<section>
    <div class="container mt-5">


    <form [formGroup]="formulario" (ngSubmit)="registerProduct()">
        <div class="mb-3">
            <label  class="form-label">Titulo</label>
            <input formControlName='Title' type="text" class="form-control" placeholder="bicicleta de montaña">

        </div>
        <div class="form-group">
            <label for="formFileSingle" class="form-label">Selecciona una imagen:</label>
            <input formControlName='imageFile' class="form-control" type="file" id="formFileSingle" accept="image/*" (change)="onFileChange($event)" required />
        </div>

        <div class="mb-3">
            <label  class="form-label">Precio</label>
            <input formControlName='Price' type="number" step="0.01" class="form-control" placeholder="€">
        </div>

        <div class="mb-3">
            <textarea formControlName ='Description' class="form-control" id="exampleFormControlTextarea1" rows="3"
                      placeholder="Descripcion del producto..."></textarea>
        </div>
        <div class="dropdown">
          <label class="form-label">Categoría</label>
            <div class="dropdown-item">
                <input type="radio" id="category1" formControlName='Category' value="Electrónica">
                <label for="category1">Electrónica</label>
            </div>
            <div class="dropdown-item">
                <input type="radio" id="category2" formControlName='Category' value="Muebles">
                <label for="category2">Muebles</label>
            </div>
            <div class="dropdown-item">
                <input type="radio" id="category3" formControlName='Category' value="Ropa">
                <label for="category1">Ropa</label>
            </div>
            <div class="dropdown-item">
                <input type="radio" id="category4" formControlName='Category' value="Libros">
                <label for="category2">Libros</label>
            </div>
            <div class="dropdown-item">
                <input type="radio" id="category5" formControlName='Category' value="Deportes">
                <label for="category2">Deportes</label>
            </div>
            <div class="dropdown-item">
                <input type="radio" id="category6" formControlName='Category' value="Hogar y Jardín">
                <label for="category1">Hogar y Jardín</label>
            </div>
            <div class="dropdown-item">
                <input type="radio" id="category7" formControlName='Category' value="Juguetes">
                <label for="category2">Juguetes</label>
            </div>
        </div>
        <div class="mb-3">
            <div class="row g-3">
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Dirección</label>
                    <input formControlName='Address' type="text" class="form-control" id="inputAddress" placeholder="Gran Via, 3">
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Ciudad</label>
                    <input formControlName='City' type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label">Provincia</label>
                    <select formControlName='Province' id="inputState" class="form-select">
                        <option value="" disabled selected>Elige...</option>
                        <option value="A Coruña">A Coruña</option>
                        <option value="Álava">Álava</option>
                        <option value="Albacete">Albacete</option>
                        <option value="Alicante">Alicante</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="inputZip" class="form-label">Código postal</label>
                    <input formControlName='Cp' type="text" class="form-control" id="inputZip">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Registrar Nuevo Producto</button>
                </div>
            </div>
        </div>
    </form>


    </div>
</section>
