<section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col" id="productsContainerRep">
          <h1 class="title"> Reportes pendientes:</h1>
          <!--{{#reports}}-->
          <div class="card w-75 report">
            <div class="card-body">
              <h5 class="card-title">EJEMPLO</h5>
              <a href="/gestionReport/1" class="btn btn-primary">Gestionar</a>
            </div>
          </div>
          <!--{{/reports}}-->
        </div>
      </div>
    </div>
    <div class="more">
      <button type="button" class="btn btn-primary btn-lg btn-block" id="loadMoreBtnRep">Cargar más</button>
    </div>
  </section>
  <!-- Footer-->
  <footer class="footer">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
  </footer>