<section>
    <div class="container">
      <div class="px-xl-3 w3-right">
        <a class="btn btn-block btn-secondary" (click)="onLogout()">
          <i class="fa fa-sign-out"></i>
          <span>Logout</span>
        </a>
      </div>
      <div class="row justify-content-center">
        <div class="col" id="productsContainerRep">
          <h1 class="title"> Reportes pendientes:</h1>
          <!--{{#reports}}-->
          <div class="card w-75 report" *ngFor="let report of reports">
            <div class="card-body">
              <h5 class="card-title">{{  report.title  }}</h5>
              <a [routerLink]="['/reportManagement', report.id]" class="btn btn-primary">Gestionar</a>
            </div>
          </div>
          <!--{{/reports}}-->
        </div>
      </div>
    </div>
    <div class="more">
      <button type="button" class="btn btn-primary btn-lg btn-block" id="loadMoreBtnRep">Cargar más</button>
    </div>
  </section>