        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Gualapop</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Give other opportunity to your unused things!</p>
                </div>
            </div>
        </header>
        <!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="productsContainer">
        </div>
    </div>

    <div class="more">
        <button type="button" class="btn btn-primary btn-lg btn-block" id="loadMoreBtn">Cargar más</button>
      </div>
</section>