<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>{{ title }}</title>
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet">
  <!-- Core theme CSS (includes Bootstrap)-->
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" routerLink="/">Gualapop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="navbarDropdown" ngbDropdownToggle role="button" aria-expanded="false">Categorias</a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdown">
            <ng-container *ngFor="let category of categories; let i = index">
              <li>
                <a class="dropdown-item category-link" (click)="selectCategory(i)">{{ category }}</a>
              </li>
            </ng-container>
          </ul>
        </li>
      </ul>
    </div>
    <form class="d-flex" (submit)="searchProducts()">
      <div class="input-group">
        <input type="text" class="form-control" name="query" placeholder="Search a product" aria-label="Search" aria-describedby="basic-addon1">
        <button class="input-group-text" type="submit">Search</button>
      </div>
    </form>
    <button (click)="redirectProfile()" class="input-group-text" id="basic-addon2">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
      </svg>
    </button>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 3</p>
  </div>
</footer>
</body>
