<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
          <!--{{#product}}-->
          <div class="col-md-6">
              <img class="card-img-top mb-5 mb-md-0"  alt="..." /><!--src="/product/{{id}}/image"-->
          </div>
          <div class="col-md-6">
              <h1 class="display-5 fw-bolder"><!--{{title}}--></h1>
              <div class="fs-5 mb-5">
                  <span><!--${{price}}--></span>
              </div>
              <p class="lead"><!--{{description}}--></p>
              <form  [formGroup]="formulario" (ngSubmit)="getProduct()"><!--action="/checkout/{{id}}"-->
                  <input type="hidden" formControlName="ProductID"  /><!--value="{{id}}"-->
                  <div class="d-flex">
                      <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                          <i class="bi-cart-fill me-1"></i> Comprar
                      </button>
                  </div>
              </form>
              <br>
              <div class="row">
                  <div class="col-lg-4">
                      <div class="card mb-4">
                          <div class="card-body text-center">
                              <!--{{#user}}-->
                              <img  alt="avatar" class="rounded-circle img-fluid" style="width: 150px;"><!--src="/user/{{userID}}/image"-->
                              <h5 class="my-3"><!--{{username}}--></h5>
                              <div class="flex-grow-1 ms-3">
                                  <div class="d-flex justify-content-center mb-2">
                                      <a routerLink="/profileConsult" class="btn btn-primary" role="button">Visitar perfil</a><!--href="/user/{{userID}}"-->
                                  </div>
                              </div>
                              <!--{{/user}}-->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      <!--{{/product}}-->
      </div>
  </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
      <h2 class="fw-bolder mb-4">Related products</h2>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <!--{{#recommendations}}-->
          <div class="col mb-5">
              <div class="card h-100">
                  <!-- Product image-->
                  <!--{{#image}}-->
                  <img class="card-img-top" alt="La imagen no carga" /><!--src="/product/{{id}}/image"-->
                  <!--{{/image}}-->
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder"><!--{{title}}--></h5>
                          <!-- Product price-->
                          <!--{{price}}-->123456789€
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/product">Comprar</a></div><!--href="/product/{{id}}"-->
                  </div>
              </div>
          </div>
          <!--{{/recommendations}}-->
      </div>
  </div>
</section>
