<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Gualapop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link  href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <style type="text/css">
    body {
      margin-top: 20px;
      background: #f8f8f8;
    }

    a.fa.fa-arrow-left {
    font-size: 25px;
}
  </style>
  <script>
    var currentPage = 0;
  function loadMyProducts() {
    $.ajax({
        url: '/getMyProducts',
        method: 'GET',
        data: {
            page: currentPage,
            pageSize: 8
        },
        success: function (htmlData) {
            console.log('Received HTML data:', htmlData);
            if (currentPage >= htmlData.totalElements / htmlData.pageSize){
                currentPage = 0;
            }
            $('#productsContainer').html(htmlData); // Reemplaza el contenido del contenedor con el HTML recibido
        },
        error: function () {
            console.log('Error occurred while loading products');
        }
    });
}

$('#loadMoreBtn').on('click', function () {
    currentPage++; // Incrementar la página antes de cargar más productos
    loadMyProducts();
});

$(document).ready(function () {
    loadMyProducts();
});
  </script>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
<div class="container">
  <div class="container px-4 px-lg-5">
    <a class="fa fa-arrow-left mb-3" href="/" aria-hidden="true"> Return</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="row flex-lg-nowrap">
    <div class="col">
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-body">
              <div class="e-profile">
                {{#user}}
                <div class="row">
                  <div class="col-12 col-sm-auto mb-3">
                    <div class="mx-auto" style="width: 140px; height: 140px;">
                      <div class="d-flex justify-content-center align-items-center rounded">
                           <img src="/user/{{userID}}/image" alt="avatar" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;"></div>
                    </div>
                  </div>
                  <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                      <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{fullName}}</h4>
                      <p class="mb-0">@{{username}}</p>
                      <p class="mb-0 d-block">Valoración: {{rating}}</p>
                    </div>
                    <div class="px-xl-3 w3-right">
                      <a href="/logout" class="btn btn-block btn-secondary">
                        <i class="fa fa-sign-out"></i>
                        <span>Logout</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="w3-bar w3-blue">
                  <button class="w3-bar-item w3-button w3-hover-light-blue" onclick="openTab('Products')"><i class="fa fa-fw fa-archive"></i>Products</button>
                  <button class="w3-bar-item w3-button w3-hover-light-blue" onclick="openTab('Beneficts')"><i class="fa fa-fw fa-line-chart"></i>Beneficts</button>
                  <button class="w3-bar-item w3-button w3-hover-light-blue" onclick="openTab('Settings')"><i class="fa fa-fw fa-cog"></i>Settings</button>
                </div>

                <div id="Products" class="w3-container tab">
                  <h2>Products</h2>
                  <p>Here are your products you have uploaded</p>
                  <div class="mt-2 mb-2">
                    <a class="btn btn-primary" href="/newProduct">
                      <span>Añadir producto</span>
                    </a>
                    <div id="productsContainer"></div>
                    <a class="btn btn-primary" id="loadMoreBtn">
                      <span>More Products</span>
                    </a>
                  </div>
                </div>

                <div id="Beneficts" class="w3-container tab" style="display:none">
                  <h2>Beneficts</h2>
                  <p>Here is your balance graphic of your purchases/sales</p>
                  <div class="mx-auto" style="width: 400px; height: 400px;">
                    <canvas id="balanceChart" data-ingresos="{{ingresos}}" data-gastos="{{gastos}}"></canvas>
                  </div>
                </div>
                

                <div id="Settings" class="w3-container tab" style="display:none">
                  <h2>Settings</h2>
                    <div data-content id="settings" class="active">
                      <form id="updateForm" class="mx-1 mx-md-4" action="/updateUser/{{userID}}" method="post" enctype="multipart/form-data">
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label for="fullName">Full Name</label>
                                  <input class="form-control" id="fullName" type="text" name="fullName" placeholder="Nuevo nombre"/>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label for="username">Username</label>
                                  <input class="form-control" id="username" type="text" name="username" placeholder="Nuevo nombre de usuario"/>
                                </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-sm-6 mb-3">
                            <div class="mb-2"><b>Change Password</b></div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label for="currentPassword">Current Password</label>
                                  <input class="form-control" id="currentPassword" type="password" name="currentPassword" placeholder="••••••"/>
                                </div>
                              </div>
                            </div>
                            {{#error}}
                            <div class="form-outline mb-4 w-50 mx-auto">
                                <p class="text-danger">Las contraseñas no coinciden</p>
                            </div>
                            {{/error}}
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label for="newPassword">New Password</label>
                                  <input class="form-control" id="newPassword" type="password" name="newPassword" placeholder="••••••"/>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label for="confirmPassword">Confirm Password</label>
                                  <input class="form-control" id="confirmPassword" type="password" name="confirmPassword" placeholder="••••••"/>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <div class="mb-2"><b>Change Photo</b>
                            <input class="form-control" name='imageFile' type="file" id="imageFile" accept="image/*"/>
                          </div>
                          </div>
                          </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">Save Changes</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </form>
                </div>
                {{/user}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../static/js/scriptProfile.js"></script>
<script>
  //navigation tabs
    function openTab(tabName) {
    var i;
    var x = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
    }
    document.getElementById(tabName).style.display = "block";  
  }

  //Pie balance chart
  document.addEventListener('DOMContentLoaded', function () {
            var canvas = document.getElementById('balanceChart');
            var ingresos = parseFloat(canvas.getAttribute('data-ingresos'));
            var gastos = parseFloat(canvas.getAttribute('data-gastos'));

            var ctx = canvas.getContext('2d');
            var myPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Ingresos', 'Gastos'],
                    datasets: [{
                        data: [ingresos, gastos],
                        backgroundColor: ['#36A2EB', '#FF6384']
                    }]
                },
                options: {
                  options: {
                    legend: {
                        display: true,
                        position: 'right', // Coloca la leyenda a la derecha
                        align: 'start', // Alinea la leyenda al inicio (puedes ajustar a 'center' o 'end' según tu preferencia)
                        labels: {
                            boxWidth: 15, // Ancho de la caja de color de la leyenda
                            fontSize: 14, // Tamaño de fuente de la leyenda
                            fontStyle: 'normal' // Estilo de fuente de la leyenda (normal, italic, oblique)
                        }
                    }
                  }
                }
            });
        });
  </script>
<script type="text/javascript"></script>
</body>
</html>