<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Gualapop</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../css/styles.css" rel="stylesheet" />
  <link href="../css/adminPanel.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="/">Gualapop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="px-xl-3 w3-right">
      <a href="/logout" class="btn btn-block btn-secondary">
        <i class="fa fa-sign-out"></i>
        <span>Logout</span>
      </a>
    </div>
  </div>
</nav>
<!-- Section-->
<section>
  <form method="post" action="/addNewReport/{{userReported}}" enctype="multipart/form-data">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <h1 class="title"> Informar sobre un usuario</h1>
        <div class="card w-100 IndividualCard ">
           <div class="container">
               {{#user}}
             <div class="reporter-details">
               <h6>Datos del Usuario que Reporta:</h6>
               <p>Nombre de usuario: {{user}}</p>
               <p name ="Date">Fecha de Reporte: {{fechaActual}}</p>
             </div>
               {{/user}}
               {{#userReported}}
             <div class="reported-details">
               <h6>Datos del Usuario Reportado: </h6>
                 <p>Nombre de usuario: {{userReported}}</p>
             </div>
               {{/userReported}}
             <br>
             <h6>Reportar al usuario por:</h6>
             <div class="dropdown">
               <div class="dropdown-item">
                 <input type="radio" id="category1" name='Category' value="Nombre inapropiado" required>
                 <label for="category1">Nombre inapropiado</label>
               </div>
               <div class="dropdown-item">
                 <input type="radio" id="category2" name='Category' value="Producto fraudulento">
                 <label for="category2">Producto fraudulento</label>
               </div>
               <div class="dropdown-item">
                 <input type="radio" id="category3" name='Category' value="Cuenta fraudulenta">
                 <label for="category1">Cuenta fraudulenta</label>
               </div>
             </div>
            <br>
            <div class="report-description" >
              <h6>Descripción del Reporte</h6>
              <textarea rows="10" cols="80" name="Description" required></textarea>
           </div>
        </div>
      </div>
    </div>
    <div class="ndelete">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar reporte</button>
    </div>
  </div>
  </div>
</form>
</section>
<!-- Footer-->
<footer class="footer">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>